.main-light-dashboard {}

.dash-first-pi-head {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    width: 100%;
    padding: 30px 0;

    .count-show-frame {
        display: flex;
        gap: 16px;
        width: 100%;
        max-width: 753px;

        .count-card {
            max-width: 171px;
            min-width: 160px;
            width: 100%;
            padding: 13px;
            border-radius: 8px;
            background-color: var(--lightBlack);

            .item-image-icon {
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                background-color: var(--smiDarkBlue);
                color: var(--waterBlue);
                margin-bottom: 8px;
            }

            .show-count-box {
                display: flex;
                align-items: end;
                justify-content: space-between;
                padding-top: 16px;

                h3 {}

                p {
                    color: rgb(39, 195, 39);
                }
            }

            &:nth-child(2) {
                .item-image-icon {
                    background-color: rgba(39, 195, 39, .3);
                    color: rgb(39, 195, 39);
                }

            }

            &:nth-child(3) {
                .item-image-icon {
                    background-color: rgba(181, 106, 77, 0.3);
                    color: rgb(195, 91, 39);
                }

                .show-count-box {
                    p {
                        color: rgb(195, 91, 39);
                    }
                }
            }

            &:last-child {
                .item-image-icon {
                    background-color: rgba(181, 77, 155, 0.3);
                    color: rgb(181, 77, 155);
                }

                .show-count-box {
                    p {
                        color: rgb(181, 77, 155);
                    }
                }
            }
        }

    }

    .pie-chart-frame {
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 13px;
        border-radius: 8px;
        width: 80%;
        max-width: 418px;
        height: 141px;
        background-color: var(--lightBlack);

        .content-frame {
            width: 70%;

            h3 {
                padding: 16px 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .green-active {
                color: rgb(39, 195, 39);
            }
        }

        .pie-chart-box {
            width: 30%;
            height: 117px;

        }

    }
}

.sub-bar-chart-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.custom-dropdown {
    button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        background: rgba(128, 128, 128, 0.3) !important;
    }
}

.second-row-wrapper {
    align-items: stretch !important;

    .count-show-frame {
        padding: 16px;
        background-color: var(--lightBlack);
        border-radius: 8px;
        flex-direction: column !important;
        // align-items: stretch !important;
        justify-content: stretch !important;

        .bar-chart-wrapper {
            max-height: 280px;
            height: 100%;
            width: 100%;
        }
    }

    .pie-chart-frames {
        height: auto;
        padding: 16px;
        border-radius: 8px;
        width: 100%;
        max-width: 418px;
        background-color: var(--lightBlack);

        ul {
            padding: 0;
            overflow: auto;
            max-height: 333px;

            li {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                padding: 6px;

                p {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    width: 100%;

                    span {
                        background-color: rgba(181, 77, 155, 0.3);
                        color: rgb(181, 77, 155);
                        width: 55px;
                        height: 55px;
                        border-radius: 50%;
                        font-size: 32px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .rignt-arrow {
                    background: rgba(128, 128, 128, 0.1);
                    border-radius: 50%;
                    color: white;
                    font-size: 28px;
                }

                &:nth-child(3n+1) {
                    p {
                        span {
                            background-color: rgba(181, 77, 155, 0.3);
                            color: rgb(181, 77, 155);
                        }

                    }
                }

                &:nth-child(3n+2) {
                    p {
                        span {
                            background-color: rgba(100, 181, 77, 0.3);
                            color: rgb(100, 181, 77);
                        }

                    }
                }

                &:nth-child(3n+3) {
                    p {
                        span {
                            background-color: rgba(77, 100, 181, 0.3);
                            color: rgb(77, 100, 181);
                        }

                    }
                }
            }
        }
    }
}

.third-row-wrapper {
    align-items: stretch !important;

    .bar-chart-wrapper {
        overflow-x: auto;

        table {
            min-width: 600px;

            .table-head-row {
                th {
                    color: white;
                    padding: 20px 0;
                    font-size: 19px;
                }
            }

            .table-body-row {
                border-top: 1px solid rgba(141, 134, 134, .4);

                td {
                    color: white;
                    padding: 10px 0;
                    font-size: 16px;

                    .customer-main-frame {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        span {
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            overflow: hidden;
                            background-color: whitesmoke;

                            img {
                                width: 100%;
                                object-fit: cover;
                            }

                        }
                    }

                    .deliver-order {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: rgb(27, 171, 125);
                        color: white;
                        font-size: 16px;
                        line-height: 16px;
                        padding: 6px;
                        border-radius: 14px;
                    }

                    .cancled-btn {
                        background-color: rgb(249, 93, 93);
                        color: white;
                    }
                }

                &:last-child {
                    border-top: 1px solid rgba(141, 134, 134, .4);

                }
            }
        }
    }
}

.third-row-wrapper {
    .count-show-frame {
        display: block;
        padding: 16px;
        border-radius: 8px;
        max-width: 753px;
        width: 100%;
        background-color: var(--lightBlack);
    }

    .pie-chart-frames {
        padding: 16px;
        width: 100%;
        max-width: 418px;
        border-radius: 8px;
        background-color: var(--lightBlack);

        .customer-review-box {
            padding: 2px;
            margin-top: 12px;

            .review-header {
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 18px;

                span {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

            .start-icons {
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 7px;
                padding: 8px 0;

                .start {
                    color: yellow;
                    font-size: 16px;
                }
            }

            .text-review {
                color: rgba(255, 255, 255, .8);
            }
        }

    }
}

@media (max-width:1100px) {
    .dash-first-pi-head ,.third-row-wrapper {
        flex-wrap: wrap;
        width: 100%;

        .count-show-frame {
            width: 100% ;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .pie-chart-frame,  .pie-chart-frames {
            width: 100%;
            max-width: 753px ;
        }
    }
}

@media (max-width:820px) {
    .dash-first-pi-head {
        .count-show-frame {
            // justify-content: space-around;
            gap: 12px;

            .count-card {
                width: 47%;
                max-width: 136px;
                min-width: 116px;
            }
        }

        .pie-chart-frame {
            flex-wrap: wrap-reverse;
            height: auto;
            gap: 20px;

            .content-frame {
                width: 100%;
            }

            .pie-chart-box {
                width: 100%;
                height: 147px;
            }
        }
    }

    .second-row-wrapper {
        .pie-chart-frames {
            max-width: 100% !important;
        }
    }

}

@media (max-width:330px) {
    .dash-first-pi-head {
        .count-show-frame {
            .count-card {
                width: 100%;
                max-width: 100%;
            }
        }
    }
}